{% extends "base/dashboard_base.html" %}
{% block content %}
<div id="div-sections" class="row d-flex justify-content-center">
  {% if sections != '' %}
  {% for item in sections %}
    <div class="col-md-4 col-sm-12 mt-4">
      <div class="card card-dashboard" style="width: 18rem;">
        <a href="#" class="text-reset">
          <div class="image text-center"><i class="{{ item['icon'] }}"></i></div>
          <div class="card-body">
            <p class="card-text text-center text-uppercase font-weight-bold">{{ item['section'] }}</p>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}