<div class="container-fluid bd-dark" style="border-bottom: 1px solid #000;">
    <nav class="navbar navbar-header">
        <div class="navbar-buttons">
            <a id="btn-menu" class="btn fas fa-bars"></a>
            <a href="{{ url_for('logout') }}" id="btn-signout" class="btn fas fa-sign-out-alt"></a>
            <a href="{{ url_for('dashboard_section') }}" id="btn-home" class="btn fas fa-home"></a>
            <a href="{{ url_for('index') }}" id="btn-index" class="btn fas fa-globe"></a>
        </div>
    </nav>
</div>
