<footer class="px-3 text-white fixed-bottom" style="background-color: #263238;" >
    <div class="row pt-3 text-center justify-content-center" style="background-color: #000a12;">
        <span>©{{ date }} Copyright:
            <a href="https://github.com/albertor03/CV" target="target_blank" class="text-reset">{{ info['first-name'] }} {{ info['last-name'] }} </a>
        </span>
    </div>
    <div class="row pb-2 text-center justify-content-center" style="background-color: #000a12;">
        <span class="text-secondary" style="font-size: 14px;">Powered by <a class="text-reset" target="target_blank" href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a></span>
    </div>
</footer>