<footer class="pt-n5 px-3 py-3 text-white" style="background-color: #000a12;">
    <div class="row text-center justify-content-center">
        <span>©{{ date }} Copyright:
            <a href="https://github.com/albertor03/CV" target="target_blank" class="text-reset">{{ info['first-name'] }} {{ info['last-name'] }} </a>
        </span>
    </div>
    <div class="row text-center justify-content-center">
        <span class="text-secondary" style="font-size: 14px;">Powered by <a class="text-reset" target="target_blank" href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a></span>
    </div>
</footer>