<li>
    <div class="item">
        <span class="timeline-icon"><i class="fas fa-user-alt"></i></span>
        <section id="skills">
            <h3 class="timeline-h3 text-capitalize">skills</h3>
            <div class="row">
                <div class="timeline-div row mt-2 d-flex justify-content-center container rounded"  style="background-color: #f5f5f6 !important;">
                    {% for item in skill %}
                    <div id="{{ item['id'] }}" class="col-sm-4">
                        <div>
                            <div class="card-body">
                                <h5 class="card-title text-center text-capitalize border-bottom border-secondary">{{ item['title'] }}</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ item['level'] }}" aria-valuenow="{{ item['level'] }}" aria-valuemin="0" aria-valuemax="100">{{ item['level'] }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</li>