<section id="info" class="animated fast fadeInDown text-white" style="background: #4f5b62;">
    <div class="container-fluid pt-2 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <p class="text-center">
                        <img src="{{ url_for('static', filename='img/avatar.png') }}" alt="" width="170px" height="170px">
                    </p>
                </div>
                <div class="col-9">
                    <div class="mt-4">
                        <h1 class="text-uppercase mb-n1 font-weight-bold">{{ info['first-name'] }}</h1>
                        <h1 class="text-uppercase font-weight-bold">{{ info['last-name'] }}</h1>
                        <h4 class="text-capitalize font-weight-bold">{{ last[0] }} - {{ last[1] }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>