<div class="container animated fast fadeInLeft">
    <div class="row">
        <div class="offset-md-1">
            <div class="timeline-cv">
                <ul>
                    {% if info|length > 0 %}
                    {% include "sections/timeline/summary.html" %}
                    {% endif %}

                    {% if employment|length > 0 %}
                    {% include "sections/timeline/employment.html" %}
                    {% endif %}

                    {% if education|length > 0 %}
                    {% include "sections/timeline/education.html" %}
                    {% endif %}

                    {% if course|length > 0 %}
                    {% include "sections/timeline/course.html" %}
                    {% endif %}

                    {% if skill|length > 0 %}
                    {% include "sections/timeline/skills.html" %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>