{% extends 'base/front_base.html' %}
{% block content %}

<div class="timeline-job mb-5">
    <ul>
        {% for items in jobs[::-1] %}
        {% for item in items['section'][::-1] %}
        <li id="{{ item['id'] }}" class="my-2">
            <div class="content" style="width: 100%;">
                <h3>{{ item['job-title'] }}</h3>
                <p class="text-secondary">{{ item['employer'] }} - {{ item['city'] }}</p>
                <p class="text-justify">{{ item['description'] }}</p>
            </div>
            <div class="time">
                <h4>{{ item['start-date'] }} - {{ item['end-date'] }}</h4>
            </div>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
    <div style="clear: both;" ></div>
</div>
<br>
<button type="button" id="top-button" onclick="topFunction()"><i class="fas fa-angle-up mx-auto my-auto"></i></button>
<script src="{{ url_for('static', filename='js/script.js') }}" ></script>
{% endblock %}

