body{
    margin: 0;
    padding: 0;
}
.timeline-cv{
    margin: 50px auto;
    padding: 20px 0;
    width: 800px;
    height: auto;
    box-sizing: border-box;
}
.timeline-cv li{
    position: relative;
    list-style: none;
}
.timeline-cv li .item{
    position: relative;
    min-height: 60px;
    padding: 0 20px 20px 30px;
    margin-left: 20px;
    border-left: 1px solid #263238;
}
.timeline-cv li:last-child .item{
    border-left: 1px solid transparent;

}
.timeline-cv li .item .timeline-icon{
    position: absolute;
    top: -8px;
    left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #263238;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
}
.timeline-cv li .item .timeline-h3,
.timeline-cv li .item .timeline-p,
.timeline-cv li .item .timeline-div{
    margin: 0;
    padding: 0;
}