<div class="col-sm-5">
    {% if breadcrumbs[-1:][0]['text'] == 'employment history' or breadcrumbs[-1:][0]['text'] == 'education' or breadcrumbs[-1:][0]['text'] == 'skills' %} {% if value|length > 0 %}
    <div id="itemDiv" class="item-div rounded-lg activate">
        <div class="item-head">
            <div id="actionButton" class="float-right">
                <i id="addItem" role="button" class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="Add new"></i>
                <i id="deleteItem" role="button" class="fas fa-minus" data-toggle="tooltip" data-placement="top" title="Delete"></i>
            </div>
        </div>
        {% for item in value %}
        <div class="item-list">
            <div id="trashDiv" class="trash-btn" role="button">
                <a href="#{{ item['id'] }}" class="fas fa-trash"></a>
            </div>
            <div class="item-text text-capitalize" role="button">{{ item['title'] }}</div>
        </div>
        {% endfor %}
    </div>
    {% endif %} {% else %}
    <div class="accordion" id="accordionCourse">
        <div class="card">
            <div class="card-header" style="background-color: #fff;">
                <div id="actionButton" class="float-right">
                    <i id="addItem" role="button" class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="Add new"></i>
                    <i id="deleteItem" role="button" class="fas fa-minus" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                </div>
            </div>
        </div>
        {% for items in value %}
        <div class="card">
            <div class="card-header" id="heading{{ items['section'] }}">
                <div class="row">
                    <span class="text-capitalize btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ items['section'] }}" aria-expanded="true" aria-controls="collapse{{ items['section'] }}" style="text-decoration: none;">
                        {{ items['section'] }} <span class="badge badge-dark float-right">{{ items['courses']|length }}</span>
                    </span>
                </div>
            </div>

            <div id="collapse{{ items['section'] }}" class="collapse" aria-labelledby="heading{{ items['section'] }}" data-parent="#accordionCourse">
                <div id="itemDiv" class="item-div rounded-lg activate">
                    {% for item in items['courses'] %}
                    <div class="item-list">
                        <div id="trashDiv" class="trash-btn" role="button">
                            <a href="#{{ item['id'] }}" class="fas fa-trash"></a>
                        </div>
                        <div class="item-text text-capitalize" role="button">{{ item['title'] }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="col-7">
    {% if breadcrumbs[-1:][0]['text'] == 'settings' %} {% include "admin/dashboard/sections/forms/config.html" %} {% elif breadcrumbs[-1:][0]['text'] == 'employment history' %} {% include "admin/dashboard/sections/forms/employment.html" %} {% elif breadcrumbs[-1:][0]['text']
    == 'courses & certifications' %} {% include "admin/dashboard/sections/forms/course.html" %} {% else %} {% include "admin/dashboard/sections/forms/form.html" %} {% endif %}
</div>