<div class="col-5">
    <ul class="list-group">
        <li class="list-group-item">
            <div id="actionButton" class="float-right">
                <i id="addEducation" role="button" class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="Add new"></i>
                <i role="button" class="fas fa-minus" data-toggle="tooltip" data-placement="top" title="Delete"></i>
            </div>
        </li>
        {% for item in value %}
        <a href="#" class="list-group-item list-group-item-action text-capitalize text-dark">{{ item['title'] }}  <i class="fas fa-angle-right text-secondary" style="float: right;"></i> </a>
        {% endfor %}
    </ul>
</div>
<div class="col-7">
    {% include "admin/dashboard/sections/forms/form.html" %}
</div>