<div class="container-fluid">
    {% if breadcrumbs %}
    <div class="row">
        {% include "admin/dashboard/breadcrumb.html" %}
    </div>
    {% endif %} {% if breadcrumbs[-1:][0]['text'] == 'professional summary' %}
    <div class="row">
        {% include "admin/dashboard/sections/summary.html" %}
    </div>
    {% elif breadcrumbs[-1:][0]['text'] == 'information' %}
    <div class="row">
        {% include "admin/dashboard/sections/forms/info.html" %}
    </div>
    {% elif value|length > 0 or breadcrumbs[-1:][0]['text'] == 'settings' %}
    <div class="row my-4">
        {% include "admin/dashboard/message.html" %} {% include "admin/dashboard/sections/info.html" %}
    </div>
    {% endif %}
</div>